@use "../../Styles/global" as *;
@use "../../Styles/mixins" as *;
@use "../../Styles/variables" as *;

.warehouse-details-container {
    @include main-padding;
    border-top: 1px solid $cloud;

    @include tablet {
        display: flex;
    }

    &__address-container {
        display: flex;
        flex-direction: row;
        gap: 0.25rem;
        @include tablet {
            display: flex;
            flex-direction: column;
        }
    }

    &__title {
        @include mobileH4;
        color: $slate;
        margin: 0;

        @include tablet {
            @include desktopH4;
        }
    }

    &__body {
        @include mobileP2;
        @include status;
        color: $instock-black;
        margin: 0;
        padding-bottom: 1rem;

        @include tablet {
            padding-bottom: 0rem;
            @include desktopP2;
        }
    }
}

.warehouse-container {
    width: 40%;
    @include tablet {
        border-right: 1px solid $cloud;
        margin-right: 2rem;
        padding-right: 2rem;
    }
}
.contact-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @include tablet {
        justify-content: flex-start;
        flex-grow: 1;
    }
    &__body {
        &--padding {
            padding-bottom: 0;
            @include mobileP2;
        }
    }
    &__contact-name {
        @include tablet {
            width: 50%;
        }
    }
}
