@use "../../Styles/global" as *;
@use "../../Styles/mixins" as *;
@use "../../Styles/variables" as *;

.item-details-container {
    border-top: 1px solid $cloud;
    padding: 1.5rem;

    @include tablet {
        display: flex;
        padding: 1.25rem 2rem;
    }

    &__title {
        @include mobileH4;
        color: $slate;
        margin: 0;

        @include tablet {
            @include desktopH4;
        }
    }

    &__body {
        @include mobileP2;
        color: $instock-black;
        margin: 0;
        padding-bottom: 1rem;

        @include tablet {
            @include desktopP2;
        }
        @include status;
    }
}

.rightside {
    display: flex;
    flex-direction: row;
    &__status {
        width: 50%;
    }
}
.leftside {
    width: 50%;
    @include tablet {
        border-right: 1px solid $cloud;
        margin-right: 2rem;
        padding-right: 2rem;
    }
}

.test {
    @include tablet {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }
}
