@use "../../Styles/global" as *;
@use "../../Styles/mixins" as *;
@use "../../Styles/variables" as *;

.outmost {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    z-index: 100;
    background-color: rgba($instock-black, 0.7);
}

.delete-container {
    padding: 1rem;
    @include tablet {
        width: 672px;
        height: 262px;
        border: 1px solid black;
        border-radius: 4px;
    }
}

.close {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90vh;

    @include tablet {
        height: 70%;
    }
}

.inv-delete-button {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 4rem;

    @include tablet {
        margin-bottom: 0;
    }

    &__link {
        flex-grow: 1;
        @include tablet {
            flex-grow: 0;
        }
    }

    &__cancel {
        @include button("secondary");
        width: 100%;
        @include tablet {
            width: auto;
            padding: 0 4rem;
        }
    }

    &__delete {
        @include button("delete");
        width: 100%;
        @include tablet {
            width: auto;
            padding: 0 4rem;
        }
    }
}
